<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aquanote">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AquaNote"
        tools:targetApi="31">
        <activity
            android:name=".activity_Settings"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge" />
        <activity
            android:name=".activity_graph"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge" />
        <activity
            android:name=".activity_home_screen"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge" />

        <meta-data
            android:name="com.google.android.actions"
            android:value="" />

        <activity
            android:name=".SelectValuesStart"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="AquaNote"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>